# Code Samples From Large Group

Place your notes and code samples from large group here.

In [1]:
x = "mike"
y = ["m", "i", "k", "e"]

In [2]:
x[0] = "M"

TypeError: 'str' object does not support item assignment

In [3]:
y[0] ="M"

In [4]:
x,y

('mike', ['M', 'i', 'k', 'e'])

In [5]:
person = {
    "name": "Billy",
    "age": 34,
    "occupation": "plumber"
}

In [6]:
type(person)

dict

In [7]:
print(person)

{'name': 'Billy', 'age': 34, 'occupation': 'plumber'}

In [8]:
person['age']

34

In [9]:
person['name']

'Billy'

In [10]:
person['age'] = person['age'] + 1

In [11]:
person

{'name': 'Billy', 'age': 35, 'occupation': 'plumber'}

In [12]:
person['registered_voter'] = True

In [13]:
person

{'name': 'Billy', 'age': 35, 'occupation': 'plumber', 'registered_voter': True}

In [14]:
del person['registered_voter']

In [15]:
person

{'name': 'Billy', 'age': 35, 'occupation': 'plumber'}

In [16]:
print(f"{person['name']} is {person['age']} years old.")

Billy is 35 years old.

In [17]:
name, occ = person['name'], person['occupation']
print(f"{name} is a {occ}")

Billy is a plumber

In [18]:
person['faveorite_movie']

KeyError: 'faveorite_movie'

In [19]:
try:
    movie = person['faveorite_movie']
except KeyError:
    print("No Fave Movie!")

No Fave Movie!

In [20]:
person.get('faveorite_movie', "No Fav Movie!")

'No Fav Movie!'

In [22]:
# counting example
text = "mississippi"
letters = {}
for ch in text:
    letters[ch] = letters.get(ch, 0) + 1
    print(letters)

print(letters)

{'m': 1}
{'m': 1, 'i': 1}
{'m': 1, 'i': 1, 's': 1}
{'m': 1, 'i': 1, 's': 2}
{'m': 1, 'i': 2, 's': 2}
{'m': 1, 'i': 2, 's': 3}
{'m': 1, 'i': 2, 's': 4}
{'m': 1, 'i': 3, 's': 4}
{'m': 1, 'i': 3, 's': 4, 'p': 1}
{'m': 1, 'i': 3, 's': 4, 'p': 2}
{'m': 1, 'i': 4, 's': 4, 'p': 2}
{'m': 1, 'i': 4, 's': 4, 'p': 2}

In [24]:
course = {
    'name': 'IST256',
    'meetings': [
        'Monday', 'Wednesday'
    ],
    'resources': {
        'website': 'ist256.com',
        'textbook': 'python for everyone'
    }
}

In [25]:
print(course)

{'name': 'IST256', 'meetings': ['Monday', 'Wednesday'], 'resources': {'website': 'ist256.com', 'textbook': 'python for everyone'}}

In [26]:
course['name']

'IST256'

In [30]:
#get the number of the course only
course['name'][3:]

'256'

In [33]:
# this prints 'Monday'
course['meetings'][0]

'Monday'

In [34]:
#print all meetings
for m in course['meetings']:
    print(m)

Monday
Wednesday

In [35]:
course

{'name': 'IST256',
 'meetings': ['Monday', 'Wednesday'],
 'resources': {'website': 'ist256.com', 'textbook': 'python for everyone'}}

In [36]:
#get the website
course['resources']['website']

'ist256.com'

In [37]:
with open("mike.json","r") as f:
    contents = f.read()
    
contents

'{ "name" : "mike", "age" : 51, "hometown" : "Syracuse" }'

In [38]:
type(contents)

str

In [43]:
contents.split(":")[2].split(",")[0]

' 51'

In [46]:
import json

In [47]:
thing = json.loads(contents)

In [48]:
thing

{'name': 'mike', 'age': 51, 'hometown': 'Syracuse'}

In [50]:
contents

'{ "name" : "mike", "age" : 51, "hometown" : "Syracuse" }'

In [51]:
thing['age']

51

In [52]:
int(contents.split(":")[2].split(",")[0])

51

In [55]:
with open("stocks.json","r") as f:
    stocks = json.load(f)

stocks

[{'symbol': 'AAPL', 'price': 126.82},
 {'symbol': 'AMZN', 'price': 3098.12},
 {'symbol': 'FB', 'price': 251.11},
 {'symbol': 'GOOG', 'price': 1725.05},
 {'symbol': 'IBM', 'price': 128.39},
 {'symbol': 'MSFT', 'price': 212.55},
 {'symbol': 'NET', 'price': 78.0},
 {'symbol': 'NFLX', 'price': 497.0},
 {'symbol': 'TSLA', 'price': 823.8},
 {'symbol': 'TWTR', 'price': 45.11}]

In [56]:
with open("stocks.json","r") as f:
    stocks = json.loads(f.read())

stocks

[{'symbol': 'AAPL', 'price': 126.82},
 {'symbol': 'AMZN', 'price': 3098.12},
 {'symbol': 'FB', 'price': 251.11},
 {'symbol': 'GOOG', 'price': 1725.05},
 {'symbol': 'IBM', 'price': 128.39},
 {'symbol': 'MSFT', 'price': 212.55},
 {'symbol': 'NET', 'price': 78.0},
 {'symbol': 'NFLX', 'price': 497.0},
 {'symbol': 'TSLA', 'price': 823.8},
 {'symbol': 'TWTR', 'price': 45.11}]

In [58]:
#stocks with price more than 250
for stock in stocks:
    if stock['price'] > 250:
        symbol, price = stock['symbol'], stock['price']
        print(f"{symbol} ${price:.2f}")

AMZN $3098.12
FB $251.11
GOOG $1725.05
NFLX $497.00
TSLA $823.80